/* 文字コードの指定
------------------------------------------------------------*/
@charset "UTF-8";

/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Abel';

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

/* フォント色指定
------------------------------------------------------------*/

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$haikei : #f9f8f6;
$moji : #887f69;
$kuromoji: #000000;
$blue1 : #eaf2f4;
$midashi:#e2ddd4;
$box:#ffffff;
$nav:#887f69;
$copy:#b8b4ac;
$search:#eeeeee;
$searchmoji:#b5b5b5;
$carousel_true:#9d1a2d;
$carousel_false:#aaaaaa;
$breadcrumb:#e8e4da;
$br_text:#887f69;
$bottom:#e3e8cf;
$table:#f9f9f5;
$product_price:#e80f66;


/* フォントの大きさ指定
------------------------------------------------------------*/

.fsize8 {font-size:8px;}
.fsize10 {font-size:10px;}
.fsize11 {font-size:11px;}
.fsize12 {font-size:12px;}
.fsize14 {font-size:14px;}
.fsize16 {font-size:16px;}
.fsize22 {font-size:22px;}

/* 共通
------------------------------------------------------------*/

html{
    font-size: 62.5%; /* ベースとなるフォントサイズの定義 */
}

body{
    font-family: 'Hiragino Kaku Gothic ProN','游ゴシック', YuGothic, 'メイリオ', Verdana,  Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.2rem; /* フォントサイズ */
    line-height: 1.6; /* 行間 */
    letter-spacing: .1em; /* 文字間隔 */
    color: $moji; /* 文字色 */
    background-color: $haikei; /* 背景色 */
}

h2{
    font-size:16px;
    font-weight:bold;
    border-bottom: 1px solid $br_text;
    padding: 5px 0 10px;
    margin-bottom:20px;
}

h3{
    font-size:16px;
    font-weight:bold;
    padding: 5px 0;
    margin-bottom:10px;
}


p{
    color:$kuromoji;
    font-weight: normal;
    font-size:10px;
    padding: 5px 0;
}

.box{
    background-color:$box;
}





/* 個別
------------------------------------------------------------*/

header{
    
    #header_in{
        padding-top: 10px;
        padding-bottom:4px;
    }
    
    .sp_logo{
        margin:15px 0;
        text-align: center;
    }
            
    .pc_logo{
        display:none;
    }
    
    .pc_navi{
        display: none;
    }
    
    .sp_navi {
        .sp_navi_li {
            display: flex;
            justify-content: center;
            
            li + li {
                margin-left: 10px;
            }
        }
        .sp_menu_toggle{
            text-align:right;
        }
    }//sp_navi
    
    /* ヘッダーPC表示ここから*/
    @media (min-width: 550px) {
    
        .row{bottom: 0;}
        
        .sp_logo{
            display:none;
        }
            
        .pc_logo{
            display:block;
        }
        
        .sp_navi{
            display: none;
        }

        #header_in{
            padding: 15px 0 10px 0;
        }
        
        .pc_navi{
            margin-top: 10px;
            display:block;
        }

        .pc_navi_li{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            margin:0;
            padding:0;

            li{
                list-style:none;
                margin: 5px 0 0 0;
                padding: 0;

                a{
                  color: #626262;
                  text-decoration: none;
                  font-weight: bold;
                  @include fontsize(14);
                  float: left;
                  padding-right: 10px;
                }

                a:hover{
                  color: $blue1;
                }
             }// li
        }// .pc_navi_li
    }/* PC表示ここまで*/
    
}
// header

main{
    
    .container{
        width:calc( 100% - 20px);
        }//container
    
    #main_in{
        padding: 15px 0 10px 0;
        
        
        
        
            .sp_img{
                margin:15px 0;
                text-align: center;
            }
            
            .pc_img{
                display:none;
            }
            
            /* タイトル画像PC表示ここから*/    
            @media (min-width: 550px) {
            
                .sp_img{
                    display:none;
                }
            
                .pc_img{
                    margin:30px 0;
                    display:block;
                }
            
            }/* タイトル画像PC表示ここまで*/ 
            
            
            .items{
                margin-top:15px;
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
            }
            
            .item{
                width: calc( ( 100% - 2px ) / 2 );
                padding: 15px;
                box-sizing: border-box;

                &:nth-child(n+4) {
                    margin-top: 2px;
                }
                img {
                    width: 100%;
                }
                
                p{
                    padding:5px 0 10px 0;
                }

            }//item
            
            /* アイテムPC表示ここから*/    
            @media (min-width: 550px) {
            
                .item{
                    width: calc( ( 100% - 4px ) / 3 );
                    padding: 10px;
                    box-sizing: border-box;
                    
                }
            }/* PC表示ここまで*/

                    
            .guides{
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .guide_box{
                width: 100%;
                padding: 10px 20px;
                box-sizing: border-box;
                font-weight: bold;
                
                &:nth-child(n+2) {
                    margin-top: 2px;
                }
                }//guide_box
                
                /* ショッピングガイドPC表示ここから*/
                @media (min-width: 550px) {
                
                .guide_box{
                    width: calc( ( 100% - 2px ) / 2 );
                    
                    div{
                        padding-bottom:10px;
                    }
                    
                    img{
                        padding:5px 0;
                    }
                    .card{
                            padding-top:10px;
                    }
                
                }
                
                }/* PC表示ここまで*/
                

            }//guides
        
            .sideber{
                
                .itemserch{
                    padding:10px;
                    margin-top:10px;
                    
                    .search{
                        position: relative;
                        
                        input{
                            background-color:$search;
                            border-radius: 0;
                            color:$searchmoji;
                            font-size:11px;
                            font-style:oblique;
                            margin:0px;
                            width:100%;
                            border: 0;
                        }
                        img{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                }//itemserch
            
                .side_nav{
                
                   .nav_title{
                        margin-top:10px;
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        background-color:$nav;
                    }
                
                    .category{
                        margin-top:2px;
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        color:$kuromoji;
                    }
                 
                   .img{
                        padding: 10px;
                        box-sizing: border-box;
                        vertical-align: middle;/*確認*/
                    }
                }//side_nav
            
                .about_own{
                    
                    
                
                    .nav_title2{
                        margin-top:10px;
                        background-color:$nav;
                        padding: 10px;
                        box-sizing: border-box;
                        vertical-align: middle;
                        text-align:left;
                    }
                
                
                    .more{
                        padding: 10px 0 0;
                    }
                
                    .about{
                        padding: 10px;
                        box-sizing: border-box;
                        justify-content: space-between;
                        
                        display:flex;
                        
                        .about_in{
                            width: calc( ( 100% - 2px ) / 2 );
                        }
                        
                        .eyecatch{
                            width: calc( 50% - 10px );
                        }
                        
                        p{
                            text-align:left;
                        }
                        
                    }//about
                    
                    /*アバウトPC表示ここから*/
                    @media (min-width: 550px) {
                        .about{
                            display:block;
                            text-align:center;  
                            margin:0;
                            
                            .about_in,.eyecatch{
                                width:100%;
                                margin:auto;
                            }
                        }
                
                    }/* PC表示ここまで*/
                        
                }//about_own
            }//sideber

    }//main_in
    
    /* メインPC表示ここから*/
    @media (min-width: 550px) {
        .container{
        width:80%;
        margin-bottom:35px;
        }//container
    }/* メインPC表示ここまで*/
    
}//main

footer{
    text-align: center;
    
    #footer_in{
    padding: 15px 0 10px 0;
    
        .pagetop{
            text-align: center;
            border-bottom: 1px solid $nav;
            padding: 30px 0 50px;
            margin-bottom: 20px;
        }
        
        .copy{
            color:$copy;
            padding: 5px 0;
            margin-bottom: 12.5rem;
        }
        
        /* フッターPC表示ここから*/
        @media (min-width: 550px) {
            .pagetop{
                text-align: right;
                
                padding: 10px 0;
                margin-top: 1rem;
                margin-bottom: 3.0rem;
                
                img{
                    padding:5px 0;
                }

            }
        }/* フッターPC表示ここまで*/
    }
}//footer

.footer_menu{
    color : $kuromoji;
    display: flex; /* 子要素をflexboxで揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    margin-bottom: 2rem;
}


/* List独自
------------------------------------------------------------*/

.breadcrumb{
    background-color:$breadcrumb;
    margin-bottom:10px;
    
    ul{
        display:flex;
        padding:5px;
        
        li {
            margin-left: 10px;
            font-family:$ja_font;
            
            a{
            color:$br_text;
            text-decoration:none;
            }
        }
                
    }
}//breadcrumb

.pagenation {
    margin: 30px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .page_box{
        font-family:"Avenir Next";
        color:$box;
        background-color:$br_text;
        font-size: 16px;
        padding: 10px;
        width: 30%;
        text-align: center;
        text-decoration: none;
        
    
      
  }
  
}//pagenation


/* ページ送りボタPC表示ここから*/
@media (min-width: 550px) {
.pagenation {
    .page_box{
        width: 20%;
        padding: 10px 5px;
        font-size: 13px;
    }
}
}/* ページ送りボタンPC表示ここまで*/

/* Products独自
------------------------------------------------------------*/

.item_guide{
    padding:10px 4.66666666667%;
}/* 1column分 */

.item_header,.item_carousel,.item_price,
.item_quantity,.item_add,.item_description{
    padding: 10px 0;
}   


.item_header{
    
    padding:10px 0;
    
    
    .item_title{
        font-weight:bold;
        color:$kuromoji;
        padding-bottom:5px;
        text-align:left;
    }
    .item_num{
        text-indent:7em;
    }
 }
 /* Product_header_PC表示ここから*/
@media (min-width: 550px) {
    .item_header{
        display: flex;
        justify-content: space-between;
        padding:30px 0;
    
        .item_title{
            padding-bottom:0px;
        }
        .item_num{
           text-indent:0em;
        }
    }
}
 /* Product_header_PC表示ここから*/


.item_slide {
    
    line-height: 0;
    padding:20px 0;
    border-top:1px solid $bottom;
    border-bottom:1px solid $bottom;
    
    .item_slide_main {
        flex: 40px 5 5;
    }
    
    .item_slide_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        div {
            width: calc( 20% - 5px );
            margin-top: 10px;
            

            img {
                width: 100%;
            }
        }
    }
}

 /* Product_item_slide_PC表示ここから*/
@media (min-width: 550px) {
    .item_slide {
        display: flex;
        
        .item_slide_list {
            flex: 10px 2 2;
            margin-left: 10px;
        
            div {
                width: calc( 50% - 5px );
                &:nth-child(n+3) {
                    margin-top: 10px;
                }
            }
        }
    }
}
 /* Product_item_slide_PC表示ここから*/

.item_color{
    padding:20px 0;
    
    img{
        padding-bottom:15px;
    }
}

.item_sizetable{
    table{
        width: 100%;
        text-align: center;
        
        th,td{
            padding: 10px 0;/*テーブル内余白*/
            text-align: center;
            border: 1px solid $bottom;
            vertical-align: middle;/*高さ中央*/
        }
        
        th {/*table内のthに対して*/
            background-color:$table;/*背景色*/	
            width: 20%;
            
            
            &:nth-child(n+2){
                width: calc( (100% - 20%) /3);   
            }
            
        }
        td{
            &:nth-child(1) {
                background-color:$table;/*背景色*/	
            }
        }
        
        .chkbox input{
            margin:	0;
        	width:	15px;			/* ボックスの横幅 */
        	height:	15px;			/* ボックスの縦幅 */
        }
    }
}

.item_overview{

    
    
    .price,.quantity{
        display: flex;
        border-top: 1px solid $bottom;
        
        .title_img{
            width:115px;
            vertical-align: middle;/*高さ中央*/
            margin: auto 0;
        }
    }
    
    .price{
        padding:20px 0;
        
        .price_value{
            color:$product_price;
            font-style:oblique;
        }
    }
    .quantity{
        padding:15px 0;
        
        input{
            margin-bottom: 0rem;
        }
    }
    
    .add_to_cart{
        text-align: center;
        border-top: 1px solid $bottom;
        padding-top:20px;
    }
}

 /* Product_item_overview_PC表示ここから*/
@media (min-width: 550px) {
    .item_overview{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid $bottom;
        margin-bottom:20px;

        
        
        .add_to_cart{
            border-top: none;
            padding-top:0px;
        }
    }
}
 /* Product_item_overview_PC表示ここまで*/

.item_descriptiontable{
    padding : 10px 0;
    margin: 10px 0 50px;
    
    table{
        width: 100%;
        text-align: center;
        
        td,th{
            padding: 10px 0;/*テーブル内余白*/
            border: 1px solid $bottom;
            vertical-align: middle;/*高さ中央*/
        }
        
        td {/*table内のthに対して*/
            text-align: center;
            background-color:$table;/*背景色*/	
            width: calc(100%/3);
        }
        
        th{
            padding-left:10px;
        }
    }
}

 /* Product_item_description_PC表示ここから*/
@media (min-width: 550px) {
    .item_descriptiontable{
    padding : 10px;

    }
}
 /* Product_item_description_PC表示ここまで*/


/*----その他-----*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*----inputの増減ボタン削除（Chrome,Safari）-----*/

input[type="number"] {
    -moz-appearance:textfield;
}/*----inputの増減ボタン削除（Firefox,IE）-----*/

.menu_icon {
  cursor: pointer;
}
.sp_menu_toggle {
    display: none;
}