/* 文字コードの指定
------------------------------------------------------------*/
@charset "UTF-8";

/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Abel';

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

/* フォント色指定
------------------------------------------------------------*/

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$haikei : #f9f8f6;
$moji : #887f69;
$kuromoji: #000000;
$blue1 : #eaf2f4;
$midashi:#e2ddd4;
$box:#ffffff;
$nav:#887f69;
$copy:#b8b4ac;
$search:#eeeeee;
$searchmoji:#b5b5b5;
$carousel_true:#9d1a2d;
$carousel_false:#aaaaaa;



/* フォントの大きさ指定
------------------------------------------------------------*/

.fsize8 {font-size:8px;}
.fsize10 {font-size:10px;}
.fsize11 {font-size:11px;}
.fsize12 {font-size:12px;}
.fsize14 {font-size:14px;}
.fsize16 {font-size:16px;}

/* 共通
------------------------------------------------------------*/

html{
    font-size: 62.5%; /* ベースとなるフォントサイズの定義 */
}

body{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.4rem; /* フォントサイズ */
    line-height: 1.6; /* 行間 */
    letter-spacing: .1em; /* 文字間隔 */
    color: $moji; /* 文字色 */
    background-color: $haikei; /* 背景色 */
}

p{
    color:$kuromoji;
    font-weight: normal;
    font-size:12px;
    font-family:Hiragino Kaku Gothic ProN;
}

.box{
    background-color:$box;
}


hr {
    border-width: 1px 0px 0px 0px; /* 太さ */
    border-style: solid; /* 線種 */
    border-color: $nav;   /* 線色 */
    height: 1px;         /* 高さ(※古いIE用) */
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}


/* 個別
------------------------------------------------------------*/

header{
    
    #header_in{
        padding-top: 10px;
        padding-bottom:4px;
    }
    
    .sp_logo{
        margin:15px 0;
        text-align: center;
    }
            
    .pc_logo{
        display:none;
    }
    
    .pc_navi{
        display: none;
    }
    
    .sp_navi {
        .sp_navi_li {
            display: flex;
            justify-content: center;
            
            li + li {
                margin-left: 10px;
            }
        }
    }//sp_navi
    
    /* ヘッダーPC表示ここから*/
    @media (min-width: 550px) {
    
        .row{bottom: 0;}
        
        .sp_logo{
            display:none;
        }
            
        .pc_logo{
            display:block;
        }
        
        .sp_navi{
            display: none;
        }

        #header_in{
            padding: 15px 0 10px 0;
        }
        
        .pc_navi{
            margin-top: 10px;
            display:block;
        }

        .pc_navi_li{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            margin:0;
            padding:0;

            li{
                list-style:none;
                margin: 5px 0 0 0;
                padding: 0;

                a{
                  color: #626262;
                  text-decoration: none;
                  font-weight: bold;
                  @include fontsize(14);
                  float: left;
                  padding-right: 10px;
                }

                a:hover{
                  color: $blue1;
                }
             }// li
        }// .pc_navi_li
    }/* PC表示ここまで*/
    
}
// header

main{
    
    .container{
        width:calc( 100% - 20px);
        }//container
    
    #main_in{
        padding: 15px 0 10px 0;
        
        
        
        
            .sp_img{
                margin:15px 0;
                text-align: center;
            }
            
            .pc_img{
                display:none;
            }
            
            /* タイトル画像PC表示ここから*/    
            @media (min-width: 550px) {
            
                .sp_img{
                    display:none;
                }
            
                .pc_img{
                    margin:15px 0;
                    display:block;
                }
            
            }/* タイトル画像PC表示ここまで*/ 
            
            
            .items{
                margin-top:15px;
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
            }
            
            .item{
                width: calc( ( 100% - 2px ) / 2 );
                padding: 15px;
                box-sizing: border-box;

                &:nth-child(n+4) {
                    margin-top: 2px;
                }
                img {
                    width: 100%;
                }
                
                p{
                    padding:5px 0 10px 0;
                }

            }//item
            
            /* アイテムPC表示ここから*/    
            @media (min-width: 550px) {
            
                .item{
                    width: calc( ( 100% - 4px ) / 3 );
                    padding: 15px;
                    box-sizing: border-box;
                    
                }
            }/* PC表示ここまで*/

                    
            .guides{
                margin-top:15px;
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .guide_box{
                width: 100%;
                padding: 15px;
                box-sizing: border-box;
                font-weight: bold;
                
                &:nth-child(n+1) {
                    margin-top: 2px;
                }
                }//guide_box
                
                /* ショッピングガイドPC表示ここから*/
                @media (min-width: 550px) {
                
                .guide_box{
                width: calc( ( 100% - 2px ) / 2 );
                }
                
                }/* PC表示ここまで*/
                

            }//guides
        
            .sideber{
                
                .itemserch{
                    padding:10px;
                    margin-top:10px;
                    
                    .search{
                        position: relative;
                        
                        input{
                            background-color:$search;
                            border-radius: 0;
                            color:$searchmoji;
                            font-size:11px;
                            font-style:oblique;
                            margin:0px;
                            width:100%;
                            border: 0;
                        }
                        img{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                }//itemserch
            
                .side_nav{
                
                   .nav_title{
                        margin-top:10px;
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        background-color:$nav;
                    }
                
                    .category{
                        margin-top:2px;
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        color:$kuromoji;
                    }
                 
                   .img{
                        padding: 10px;
                        box-sizing: border-box;
                        vertical-align: middle;/*確認*/
                    }
                }//side_nav
            
                .about_own{
                    
                    
                
                    .nav_title2{
                        margin-top:10px;
                        background-color:$nav;
                        padding: 10px;
                        box-sizing: border-box;
                        vertical-align: middle;
                        text-align:left;
                    }
                
                
                    .more{
                        padding: 10px 0 0;
                    }
                
                    .about{
                        padding: 10px;
                        box-sizing: border-box;
                        vertical-align: middle;/*確認*/
                        
                        display:flex;
                        
                        .about_in{
                            width: calc( ( 100% - 2px ) / 2 );
                        }
                        
                        .eyecatch{
                            padding: 0 10px;
                        }
                        
                        p{
                            text-align:left;
                        }
                        
                    }//about
                    
                    /*アバウトPC表示ここから*/
                    @media (min-width: 550px) {
                        .about{
                            display:block;
                            text-align:center;  
                            margin:0;
                            
                            .about_in{
                                width:100%;
                                margin:auto;
                            }
                        }
                
                    }/* PC表示ここまで*/
                        
                }//about_own
            }//sideber

    }//main_in
    
    /* メインPC表示ここから*/
    @media (min-width: 550px) {
        .container{
        width:80%;
        }//container
    }/* メインPC表示ここまで*/
    
}//main

footer{
    text-align: center;
    #footer_in{
    padding: 15px 0 10px 0;
    
        .pagetop{
            text-align: center;
        }
        
        .copy{
            color:$copy;
            margin-bottom: 10rem;
        }
        
        /* フッターPC表示ここから*/
        @media (min-width: 550px) {
            .pagetop{
                text-align: right;
            }
        }/* フッターPC表示ここまで*/
    }
}//footer

.footer_menu{
    display: flex; /* 子要素をflexboxで揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    margin-bottom: 2rem;
}