@charset "UTF-8";
/* 文字コードの指定
------------------------------------------------------------*/
/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Abel";
/* フォント色指定
------------------------------------------------------------*/
/* フォントの大きさ指定
------------------------------------------------------------*/
.fsize8 {
  font-size: 8px; }

.fsize10 {
  font-size: 10px; }

.fsize11 {
  font-size: 11px; }

.fsize12 {
  font-size: 12px; }

.fsize14 {
  font-size: 14px; }

.fsize16 {
  font-size: 16px; }

/* 共通
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  /* ベースとなるフォントサイズの定義 */ }

body {
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  /* フォントの種類 */
  font-size: 1.4rem;
  /* フォントサイズ */
  line-height: 1.6;
  /* 行間 */
  letter-spacing: .1em;
  /* 文字間隔 */
  color: #887f69;
  /* 文字色 */
  background-color: #f9f8f6;
  /* 背景色 */ }

p {
  color: #000000;
  font-weight: normal;
  font-size: 12px;
  font-family: Hiragino Kaku Gothic ProN; }

.box {
  background-color: #ffffff; }

hr {
  border-width: 1px 0px 0px 0px;
  /* 太さ */
  border-style: solid;
  /* 線種 */
  border-color: #887f69;
  /* 線色 */
  height: 1px;
  /* 高さ(※古いIE用) */
  margin-top: 1rem;
  margin-bottom: 2.5rem; }

/* 個別
------------------------------------------------------------*/
header {
  /* ヘッダーPC表示ここから*/
  /* PC表示ここまで*/ }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  header .sp_logo {
    margin: 15px 0;
    text-align: center; }
  header .pc_logo {
    display: none; }
  header .pc_navi {
    display: none; }
  header .sp_navi .sp_navi_li {
    display: flex;
    justify-content: center; }
    header .sp_navi .sp_navi_li li + li {
      margin-left: 10px; }
  @media (min-width: 550px) {
    header .row {
      bottom: 0; }
    header .sp_logo {
      display: none; }
    header .pc_logo {
      display: block; }
    header .sp_navi {
      display: none; }
    header #header_in {
      padding: 15px 0 10px 0; }
    header .pc_navi {
      margin-top: 10px;
      display: block; }
    header .pc_navi_li {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0; }
      header .pc_navi_li li {
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0; }
        header .pc_navi_li li a {
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;
          font-size: 1.4rem;
          float: left;
          padding-right: 10px; }
        header .pc_navi_li li a:hover {
          color: #eaf2f4; } }

main {
  /* メインPC表示ここから*/
  /* メインPC表示ここまで*/ }
  main .container {
    width: calc( 100% - 20px); }
  main #main_in {
    padding: 15px 0 10px 0;
    /* タイトル画像PC表示ここから*/
    /* タイトル画像PC表示ここまで*/
    /* アイテムPC表示ここから*/
    /* PC表示ここまで*/ }
    main #main_in .sp_img {
      margin: 15px 0;
      text-align: center; }
    main #main_in .pc_img {
      display: none; }
    @media (min-width: 550px) {
      main #main_in .sp_img {
        display: none; }
      main #main_in .pc_img {
        margin: 15px 0;
        display: block; } }
    main #main_in .items {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    main #main_in .item {
      width: calc( ( 100% - 2px ) / 2 );
      padding: 15px;
      box-sizing: border-box; }
      main #main_in .item:nth-child(n+4) {
        margin-top: 2px; }
      main #main_in .item img {
        width: 100%; }
      main #main_in .item p {
        padding: 5px 0 10px 0; }
    @media (min-width: 550px) {
      main #main_in .item {
        width: calc( ( 100% - 4px ) / 3 );
        padding: 15px;
        box-sizing: border-box; } }
    main #main_in .guides {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      /* ショッピングガイドPC表示ここから*/
      /* PC表示ここまで*/ }
      main #main_in .guides .guide_box {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-weight: bold; }
        main #main_in .guides .guide_box:nth-child(n+1) {
          margin-top: 2px; }
      @media (min-width: 550px) {
        main #main_in .guides .guide_box {
          width: calc( ( 100% - 2px ) / 2 ); } }
    main #main_in .sideber .itemserch {
      padding: 10px;
      margin-top: 10px; }
      main #main_in .sideber .itemserch .search {
        position: relative; }
        main #main_in .sideber .itemserch .search input {
          background-color: #eeeeee;
          border-radius: 0;
          color: #b5b5b5;
          font-size: 11px;
          font-style: oblique;
          margin: 0px;
          width: 100%;
          border: 0; }
        main #main_in .sideber .itemserch .search img {
          position: absolute;
          top: 10px;
          right: 10px; }
    main #main_in .sideber .side_nav .nav_title {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #887f69; }
    main #main_in .sideber .side_nav .category {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #000000; }
    main #main_in .sideber .side_nav .img {
      padding: 10px;
      box-sizing: border-box;
      vertical-align: middle;
      /*確認*/ }
    main #main_in .sideber .about_own {
      /*アバウトPC表示ここから*/
      /* PC表示ここまで*/ }
      main #main_in .sideber .about_own .nav_title2 {
        margin-top: 10px;
        background-color: #887f69;
        padding: 10px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: left; }
      main #main_in .sideber .about_own .more {
        padding: 10px 0 0; }
      main #main_in .sideber .about_own .about {
        padding: 10px;
        box-sizing: border-box;
        vertical-align: middle;
        /*確認*/
        display: flex; }
        main #main_in .sideber .about_own .about .about_in {
          width: calc( ( 100% - 2px ) / 2 ); }
        main #main_in .sideber .about_own .about .eyecatch {
          padding: 0 10px; }
        main #main_in .sideber .about_own .about p {
          text-align: left; }
      @media (min-width: 550px) {
        main #main_in .sideber .about_own .about {
          display: block;
          text-align: center;
          margin: 0; }
          main #main_in .sideber .about_own .about .about_in {
            width: 100%;
            margin: auto; } }
  @media (min-width: 550px) {
    main .container {
      width: 80%; } }

footer {
  text-align: center; }
  footer #footer_in {
    padding: 15px 0 10px 0;
    /* フッターPC表示ここから*/
    /* フッターPC表示ここまで*/ }
    footer #footer_in .pagetop {
      text-align: center; }
    footer #footer_in .copy {
      color: #b8b4ac;
      margin-bottom: 10rem; }
    @media (min-width: 550px) {
      footer #footer_in .pagetop {
        text-align: right; } }

.footer_menu {
  display: flex;
  /* 子要素をflexboxで揃える */
  justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  align-items: center;
  /* 子要素をflexboxにより中央に配置する */
  margin-bottom: 2rem; }

/*# sourceMappingURL=style.css.map */
